# CHAP04. 데이터 프레임의 세계로!

## 04-1 데이터는 어떻게 생겼나? - 데이터 프레임 이해하기

데이터 프레임(Data Frame)은 가장 많이 사용하는 데이터 형태로, 행과 열로 구성된 사각형 모양의 표처럼 생겼다.

#### '열'은 속성이다.

세로로 나열되는 열은 속성을 나타낸다. 열은 '컬럼(Column)' 또는 '변수(Variable)'라고 불린다.

#### '행'은 한 사람의 정보다.

가로로 나열되는 행은 각 사람에 대한 정보를 보여 준다. 행은 Row(로) 또는 Case(케이스)라고 불린다.

#### 한 명에 대한 데이터는 가로 한 줄에 나열된다.

#### 데이터가 크다 = 행이 많다 또는 열이 많다.

"데이터가 크다"라는 말은 행이 많다는 의미일 수도 있고, 열이 많다는 의미일 수도 있다.

데이터 분석하는 입장에서 열이 많은 것이 더 중요하다.

행이 많은 경우 좋은 장비를 구축하면 된다. 분석 기술 측면에서는 별다른 차이가 생기지 않는다.

열이 많은 경우 변수를 조합할 수 있는 경우의 수가 늘어난다. 복잡한 고급 분석 방법이 필요하다.

데이터 양을 의미하는 행보다 데이터의 다양성을 의미하는 열이 많은 것이 분석의 측면에서 더 중요하다.

#### "데이터가 크다"

행이 많다 → 컴퓨터가 느려짐 → 고사양 장비 구축
열이 많다 → 분석 방법의 한계 → 고급 분석 방법

#### 빅데이터는 중요한가?

데이터 분석의 가치는 어떤 현상이 조건에 따라 달라진다는 사실을 발견할 때 생겨난다.

'빅'데이터가 아니라 '다양한' 데이터가 중요하다.

## 04-2 데이터 프레임 만들기 - 시험 성적 데이터 만들어 보자!

### 데이터 입력해 데이터 프레임 만들기

#### 1. 변수 만들기

In [1]:
english <- c(90, 80, 60, 70)
english

[1] 90 80 60 70

In [2]:
math <- c(50, 60, 100, 20)
math

[1]  50  60 100  20

#### 2. 데이터 프레임 만들기

data.frame() : 데이터 프레임을 구성할 변수를 괄호 안에 쉼표로 나열하면 된다.

In [5]:
# english, math로 데이터 프레임 생성해서 df_midterm 할당
df_midterm <- data.frame(english, math)
df_midterm

  english math
1 90       50
2 80       60
3 60      100
4 70       20

#### 3. 학생의 반에 대한 정보가 추가된 데이터 프레임 생성

In [6]:
class <- c(1, 1, 2, 2)
class

[1] 1 1 2 2

In [7]:
df_midterm <- data.frame(english, math, class)
df_midterm

  english math class
1 90       50  1
2 80       60  1
3 60      100  2
4 70       20  2

In [9]:
df_midterm$id <- c(1, 2, 3, 4)
df_midterm

  english math class id
1 90       50  1     1
2 80       60  1     2
3 60      100  2     3
4 70       20  2     4

#### 4. 분석하기

mean() 이용

In [9]:
mean(df_midterm$english)  # df_midterm의 english로 평균 산출

[1] 75

In [10]:
mean(df_midterm$math)  # df_midterm의 math로 평균 산술

[1] 57.5

달러 기호($)는 데이터 프레임 안에 있는 변수를 지정할 때 사용한다.

#### 5. 데이터 프레임 한 번에 만들기

data.frame()안에 변수와 값을 나열해서 한 번에 만드는 방법

In [12]:
df_midterm <- data.frame(english = c(90, 80, 60, 70),
                        math = c(50, 60, 100, 20),
                        class = c(1, 1, 2, 3))
df_midterm

  english math class
1 90       50  1
2 80       60  1
3 60      100  2
4 70       20  3

#### ※ <- 사용하지 않고 = 을 사용한다.

## 04-3 외부 데이터 이용하기 - 축적된 시험 성적 데이터 불러오자!

직접 데이터를 입력하기보다 외부에서 생성된 데이터를 불러와 분석하는 경우가 더 많다.

데이터를 관리할 때 가장 많이 사용되는 엑셀 파일과 CSV 파일을 불러와 데이터 프레임을 만드는 방법을 익혀본다.

### 엑셀 파일 불러오기

#### 1. 우선 깃허브(bit.ly/doit_ra)에서 실습에 사용할 excel_exam.xlsx 파일을 다운로드 한다.

A~E열까지 총 5개의 변수로 구성되어 있다.

변수는 학생의 id(번호), class(반), math(수학), english(영어), science(과학) 세 과목의 시험 점수 정보를 담고 있다.

20명에 대한 자료

#### 2. 프로젝트 폴데에 엑셀 파일 삽입하기

현재 작업중인 프로젝트 폴더에 불러올 파일을 삽입한다.

#### 3. readxl 패키지 설치하고 로드하기

readxl : 엑셀 파일을 불러오는 기능을 제공하는 패키지

In [13]:
install.packages("readxl")

Installing package into 'C:/Users/SOJINSOO/Documents/R/win-library/3.5'
(as 'lib' is unspecified)

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\SOJINSOO\AppData\Local\Temp\RtmpqwWYJ0\downloaded_packages

In [14]:
library(readxl)

#### 4. 엑셀 파일 불러오기

readxl 패키지에서 제공하는 read_excel()을 이용해 엑셀 파일을 불러온다.

read_excel()은 엑셀 파일을 데이터 프레임으로 만드는 기능을 한다.

괄호 안에 불러올 엑셀 파일명과 확장자까지 기입한다. 

R에서는 파일명을 지정할 때 항상 앞뒤에 따옴표를 넣는다.

In [15]:
df_exam <- read_excel("excel_exam.xlsx")  # 엑셀 파일을 불러와 df_exam에 할당
df_exam

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

In [18]:
df_exam <- read_excel("c:/Users/SOJINSOO/excel_exam.xlsx")
df_exam

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

#### 5. 분석하기

mean()을 이용해 영어 점수와 과학 점수의 전체 평균을 구한다.

In [19]:
mean(df_exam$english)

[1] 84.9

In [20]:
mean(df_exam$science)

[1] 59.45

#### 엑셀 파일 첫 번쨰 행이 변수명이 아니라면

read_excel()은 기본적으로 엑셀 파일의 첫 번째 행을 변수명으로 인식해 불러온다.

첫 행부터 데이터가 시작되는 엑셀 파일 불러온다.

In [21]:
df_exam_novar <- read_excel("excel_exam_novar.xlsx")
df_exam_novar

New names:
* `1` -> `1..1`
* `1` -> `1..2`
* `50` -> `50..3`
* `50` -> `50..5`

  1..1 1..2 50..3 98 50..5
1 2    1    60    97 60
2 3    2    25    80 65
3 4    2    50    89 98
4 5    3    20    98 15
5 6    3    50    98 45
6 7    4    46    98 65
7 8    4    48    87 12

col_names = F 파리미터 설정

In [23]:
df_exam_novar <- read_excel("excel_exam_novar.xlsx", col_names = F)
df_exam_novar

New names:
* `` -> `..1`
* `` -> `..2`
* `` -> `..3`
* `` -> `..4`
* `` -> `..5`

  ..1 ..2 ..3 ..4 ..5
1 1   1   50  98  50
2 2   1   60  97  60
3 3   2   25  80  65
4 4   2   50  89  98
5 5   3   20  98  15
6 6   3   50  98  45
7 7   4   46  98  65
8 8   4   48  87  12

'열 이름(Column Name)을 가져올 것인가?' 라는 질문에 '그렇지 않다'라는 답

논리형 벡터는 반드시 대문자 TRUE 또는 FALSE로 입력해야 한다. 앞글자만 따서 T 또는 F를 입력해도 된다.

#### 엑셀 파일에 시트가 여러 개 있다면?

여러 개의 시트로 구성된 엑셀 파일을 불러올 경우 sheet 파라미터를 이용해 몇 번째 시트의 데이터를 불러올지 지정한다.

In [25]:
# 엑셀 파일의 세 번째 시트에 있는 데이터 불러오기
df_exam_sheet <- read_excel("excel_exam_sheet.xlsx", sheet = 3)
df_exam_sheet

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  2     25   80      65
4 4  2     50   89      98
5 5  3     20   98      15
6 6  3     50   98      45
7 7  4     46   98      65
8 8  4     48   87      12

### CSV 파일 불러오기

CSV 파일은 엑셀뿐 아니라 SAS, SPSS 등 데이터를 다루는 대부분의 프로그램에서 읽고 쓰기가 가능한 범용 데이터 파일이다.

CSV(Comma Separate Values)는 값들이 쉼표로 구분되어 있는 형태

엑셀 파일에 비해 용량이 작기 때문에 데이터를 주고받을 때 더 자주 이용한다.

#### 1. 프로젝트 폴더에 CSV 파일 삽입하기

#### 2. CSV 파일 불러오기

read.csv() : 내장 함수

괄호 안에는 불러올 파일명을 지정하는 형태로 사용한다.

첫 번째 행에 변수명이 없는 CSV 파일을 불러올 떄는 header = F 파라미터를 지정한다.

read_excel()의 col_names = F 와 기능은 동일하지만 파라미터 이름이 다르므르 주의해야 한다.

In [27]:
df_csv_exam <- read.csv("csv_exam.csv")
df_csv_exam

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

#### 문자가 들어 있는 파일을 불러올 떄는 stringsAsFactors = F

문자가 들어 있는 CSV 파일을 불러올 떄는 stringAsFactors = F로 설정

그래야만 변수를 factor타입이 아닌 문자 타입으로 불러오기 때문에 오류가 발생하지 않는다.

In [29]:
df_csv_exam <- read.csv("csv_exam.csv", stringsAsFactor = F)

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 10 3     50   98      45
11 11 3     65   65      65
12 12 3     45   85      32
13 13 4     46   98      65
14 14 4     48   87      12
15 15 4     75   56      78
16 16 4     58   98      65
17 17 5     65   68      98
18 18 5     80   78      90
19 19 5     89   68      87
20 20 5     78   83      58

### 데이터 프레임을 CSV 파일로 저장하기

#### 1. 데이터 프레임 만들기

In [31]:
df_midterm <- data.frame(english = c(90, 80, 60, 70),
                        math = c(50, 60, 100, 20),
                        class = c(1, 1, 2, 2))
df_midterm

  english math class
1 90       50  1
2 80       60  1
3 60      100  2
4 70       20  2

#### 2. CSV 파일로 저장하기

write.csv() : 내장함수, 데이터 프레임을 CSV 파일로 저장한다. 

괄호 안에 저장할 데이터 프레임 명을 지정하고, file 파라미터에 파일명을 지정한다. 저장한 파일은 프로젝트 폴더에 생성된다.

In [32]:
write.csv(df_midterm, file = "df_midterm.csv")

### RData 파일 활용하기

RData(.rda 또는 .rdata)는 R 전용 데이터 파일이다.

R 전용 파일이므로 다른 파이를에 비해 R에서 읽고 쓰는 속도가 빠르고 용량이 작다는 장점이 있다.

일반적으로 R에서 분석 작업을 할 때는 RData 파일을 이용하고, R을 사용하지 않는 사람과 파일을 주고 받을 때는 CSV 파일을 이용한다.

#### 1. 데이터 프레임을 RData 파일로 저장하기

save() : 데이터 프레임을 .rda 파일로 저장한다.

write.csv()와 마찬가지로 괄호 안에 데이터 프레임명과 저장할 파일명을 지정한다.

In [37]:
save(df_midterm, file = "df_midterm.rda")

#### 2. RData 파일 불러오기

rda 파일을 불러올 때는 load()를 이용한다.

rda 파일을 불러오기 전에 df_midterm을 삭제한다. rm()을 이용하면 데이터를 삭제할 수 있다.

In [35]:
rm(df_midterm)

df_midterm

Warning message in rm(df_midterm):
"객체 'df_midterm'를 찾을 수 없습니다"

ERROR: Error in eval(expr, envir, enclos): 객체 'df_midterm'를 찾을 수 없습니다

In [41]:
load("df_midterm.rda")

df_midterm

  english math class
1 90       50  1
2 80       60  1
3 60      100  2
4 70       20  2

read.csv()나 read_excel()은 파일을 불러와 새 변수에 할당해야 활용할 수 있다.

반면, load()로 rda 파일을 불러오면 저장할 때 사용한 데이터 프레임이 자동으로 만들어지기 때문에 새 변수에 할당하지 않는다.

In [42]:
# 엑셀 파일 불러와 df_exam에 할당하기
df_exam <- read_excel("excel_exam.xlsx")

In [43]:
# csv 파일 불러와 df_csv_exam에 할당하기
df_csv_exam <- read.csv("csv_exam.csv")

In [44]:
# Rda 파일 불러오기
load("df_midterm.rda")

In [50]:
df_midterm2 <- load("df_midterm.rda")
df_midterm2

[1] "df_midterm"